* {
  box-sizing: border-box;
}

body {
  background: rebeccapurple;
  font-family: Arial, sans-serif;
  font-size: 100%;
  line-height: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.container {
  max-width: 800px;
  width: 100%;
}

.header {
  background: hotpink;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}

.silly-tagline {
  margin: 0;
}

h1 {
  font-size: 4rem;
  color: khaki;
  font-family: Phosphate, Chalkduster, 'Comic Sans', sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 1.4rem;
  color: #666;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 0;
  margin: 3rem 0;
}

article {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: peru;
  border: 10px dashed yellowgreen;
}

article p:first-of-type {
  font-family: Georgia, serif;
  font-size: 1.2rem;
  font-style: italic;
}

article p:first-of-type:first-letter {
  font-size: 8rem;
  float: left;
  line-height: 0.86;
  margin-right: 0.7rem;
}
